node_modules
.pnpm-store
.git
.gitignore
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
.turbo
.next
dist
tmp
/apps/*/.next
/apps/*/node_modules
/packages/*/node_modules
/apps/api-core/dist
/apps/api-core/node_modules
/apps/hub-web/.next
/apps/hub-web/node_modules
/apps/portal-web/.next
/apps/portal-web/node_modules
